
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}


.dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}


.main-content {
  flex: 0.7;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


.dashboard-header {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}


.user-section h3 {
  font-size: 22px;
  color: #333;
}

.user-info-card {
  background-color: #e9f7f6;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.user-info-card p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
}


.movies-section h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.movie-card p {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}


.photos img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.photos img:hover {
  transform: scale(1.05);
}


.videos iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
}


.add-movie-btn,
.add-photo-btn,
.add-video-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

.add-movie-btn:hover,
.add-photo-btn:hover,
.add-video-btn:hover {
  background-color: #0056b3;
}


.recent-activities-sidebar {
  flex: 0.3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.recent-activities-sidebar h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

.recent-activities-sidebar ul {
  list-style-type: none;
}

.recent-activities-sidebar li {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}





































  
  
  
  
  
  
  
